body p {
  background-color: blueviolet;
}

a {
  text-decoration: overline;
}

a {
  text-decoration: line-through;
}

nav a {
  text-decoration: none;
}

/* nav ul:first-of-type a {
        text-decoration: none;
      } */

/* .nav-link {
        text-decoration: none;
      } */

p.my-class {
  background-color: chocolate;
}

#my-heading {
  color: red;
}
